<div class="container" *ngIf="post$ | async as post;else loading">



    <mat-card class="post-card">
        <mat-tab-group>
        <mat-tab label="Post">
        <img matCardImage class="align-center" [src]="post.imagePost">
        <mat-card-content>
            <mat-card-title>
                {{post.titlePost}}
            </mat-card-title>
            <p class="content">
                {{post.contentPost}} <!--contentPost-->
            </p>
            <mat-divider></mat-divider>
            <br>
            <mat-card-subtitle>
                <p>
                    Change To:
                </p>
            </mat-card-subtitle>
            <p class="changeTo">
                {{post.changeTo}} <!--contentPost-->
            </p>

        </mat-card-content>
        </mat-tab>
        <mat-tab label="User">  
            <button>
                <a href={{post.idUser}}>Email: {{post.idUser}}</a>
                
            </button>
                <p>Discord: {{this.generateDiscordUsername(post.idUser)}}</p>
        </mat-tab>
        <!--<mat-tab label="Chat">  </mat-tab>-->
        </mat-tab-group>
    </mat-card>
</div>
<ng-template #loading>
    <div class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>
 </ng-template>